<table border="0" cellpadding="0" cellspacing="0" style="background-position: right; background-repeat: repeat-y; background-image: url(http://beta.rhovit.com/images/fondoa.jpg);" width="100%">
	<tbody>
		<tr>
			<td>
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td valign="top">
						<table align="center" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Georgia; text-transform: uppercase; letter-spacing: 6px;"><img height="216" src="http://beta.rhovit.com/images/marca.png" width="688" /></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-repeat: no-repeat; background-position: right bottom; background-image: url(http://beta.rhovit.com/images/fondob.jpg);" width="100%">
				<tbody>
					<tr>
						<td background="" width="727"><!-- content -->
						<table align="center" border="0" cellpadding="0" cellspacing="0" height="567" width="593">
							<tbody>
								<tr>
									<td class="article-title" colspan="2" height="71" style="padding: 10px 20px 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold; color: #FFF;" valign="top" width="593">
									<p><span style="font-size:24px;">%NAME%, you are invited to join RHOVIT!</span></p></td>
								</tr>
								<tr>
									<td class="content-copy" colspan="2" style="padding: 0 20px; color: #FFF; font-size: 14px; font-family: Georgia; line-height: 20px;" valign="top">
									<p style="margin: 0px; font-size: 14px; line-height: normal; font-family: Georgia; ">&nbsp;</p>
									<p style="margin: 0px; font-size: 14px; line-height: normal; font-family: Georgia; ">Hey	you	should	check	out	this	cool	new	site	called	Rhovit.	They <br />
									  distribute	Film,	TV,	Music	,	Books,	Comics	and	Video	Games.<br />
									  All	of	their	content	has	videos	that	are	free	to	watch	,	so	you	can <br />
									  surf	videos	for	hours	and	if	you	like	something	you	can	buy	it	right <br />
									  there!	Another	cool	thing	is	if	you	do	buy	anything	on	the	site	the <br />
									  artist	gets	100%	of	the	proceeds!									</p>
									<p><span style="font-size:16px;"><strong><a href="http://www.rhovit.com/" style="color:#ff6600">Check it out at RHOVIT.COM!</a></strong></span></p>
									<p><br />
									Cheers!<br />
									Team Rhovit</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
									</td>
								</tr>
							</tbody>
						</table>
						<!--  / content --></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td valign="top">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td align="center" bgcolor="#484845" class="copyright" height="80" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 20px;" valign="top"><br />
									Rhovit - 820 Broadway Box 102 Santa Monica, CA 90401
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>